{{!< layout}}
<hr>
<div class="container">
	<div class="container-product">
		<h4>We Found <b>8</b> packages for you.</h4>
		<ul>
			<li>
				<a href="#" data-uid="{{data.[0].uniqueId}}" data-avil="{{data.[0].Available}}"   class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-1.jpg" alt="" />
				<span style="color: red;font-weight: 600;font-size: .9em;">SOLD OUT (we will notify throug email)</span>
					<h2>Pico 2 BHK</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹<strong class="prc">300</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#" data-uid="{{data.[1].uniqueId}}" data-avil="{{data.[1].Available}}" class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-2.jpg" alt="" />
					<h2>Bounce M</h2>
					<p>Bounce M is the new member from the Bounce family, which is known for being  multi-face...</p>
					<div>Starts at ₹<strong class="prc">300</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#" data-uid="{{data.[2].uniqueId}}" data-avil="{{data.[2].Available}}" class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-3.jpg" alt="" />
					<h2>The Couch Potato</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹<strong class="prc">5000</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#" data-uid="{{data.[3].uniqueId}}" data-avil="{{data.[3].Available}}" class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-4.jpg" alt="" />
					<h2>Pico Dining Room</h2>
					<p>Bounce M is the new member from the Bounce family, which is known for being  multi-face...</p>
					<div>Starts at ₹<strong class="prc">200</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li class="fifth">
				<a href="#" data-uid="{{data.[4].uniqueId}}" data-avil="{{data.[4].Available}}" class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-8.jpg" alt="" />
					<h2>Work From Home Zone</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹<strong class="prc">1500</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#" data-uid="{{data.[5].uniqueId}}" data-avil="{{data.[5].Available}}" class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-6.jpg" alt="" />
					<h2>Mili Workstation</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹<strong class="prc">4500</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#" data-uid="{{data.[6].uniqueId}}" data-avil="{{data.[6].Available}}" class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-7.jpg" alt="" />
					<h2>Elite 1 BHK</h2>
					<p>Bounce M is the new member from the Bounce family, which is known for being  multi-face...</p>
					<div>Starts at ₹<strong class="prc">900</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#" data-uid="{{data.[7].uniqueId}}" data-avil="{{data.[7].Available}}" class="js-open-modal" data-modal-id="popup1"><h4 class="added">Selected</h4><img src="images/bg-li-8.jpg" alt="" />
					
					<h2>Mili Dining Room</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹ <strong class="prc">300</strong>/mo<span>Add to Cart</span></div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div id="popup1" class="modal-box">
  <header> <a href="#" class="js-modal-close close">×</a>
    <h3></h3>
  </header>
    <div class="modal-body" style="overflow:hidden">
        <img style="width: 30%;float: left;" src=""/>
        <div class="container-details" style="width: 65%;">
			<p></p>
	    	<h4></h4>
	    	<a href="#" class="btn btn-danger" id="removeFromCartid">Remove From Cart</a>
	    	<h3></h3>
        </div>
    </div>
  <footer> <a href="#" class="btn btn-success" id="proceedToPay">Proceed To Pay</a> <a href="#" class="btn btn-defualt js-modal-close">Continue Shopping</a><a href="#" class="btn btn-small js-modal-close">Close</a> </footer>
</div>
<form id="postForm" action="/payment" method="post">
	<input type="hidden" name="product" id="formprod" value="">
	<input type="hidden" name="price" id="formprice" value="">
</form>

{{#contentFor "scriptHolder"}}

<script>
$(function(){
var carttno=0;
var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

	$('a[data-modal-id]').click(function(e) {
		e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.7);
    //$(".js-modalbox").fadeIn(500);
		var modalBox = $(this).attr('data-modal-id');
		$('#'+modalBox).fadeIn($(this).data());
		var heading=$(this).children("h2:first").text();
		$('#'+modalBox).attr('data-added', heading.split(' ').join('_'));
	});  
  
  
$(".js-modal-close, .modal-overlay").click(function() {
    $(".modal-box, .modal-overlay").fadeOut(500, function() {
        $(".modal-overlay").remove();
    }); 
});
 
$(window).resize(function() {
    $(".modal-box").css({
        top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
        left: ($(window).width() - $(".modal-box").outerWidth()) / 2
    });
});
var totalAmount = 0;
function pricecal(value){
	totalAmount = totalAmount + Number(value);
	$(".container-details h3").text("Total Amount: ₹" + totalAmount);
	cart.price = totalAmount;
}
function reducecart(value){
	totalAmount = totalAmount - Number(value);
	$('.right-header span').text(--carttno);
}
var cart={price: 0, product: []};
 $('.js-open-modal').click(function(){
 		pricecal(0);
 		$(this).children("h4:first").css("display","block");
 		var heading=$(this).children("h2:first").text();
 		$('#popup1 header h3').text(heading);
 		var details=$(this).children("p:first").text();
 		$('.modal-body p').text(details);
 		var priceDetails=$(this).children("div:first").text();
 		$('.modal-body p').text(details);
 		var pricetotal=$(this).find(".prc").text();
 		$('.modal-body h4').text(priceDetails);
 		var edith4=$('.modal-body h4').text();
 		var result=edith4.replace(/Add to Cart/g,"");
 		$('.modal-body h4').text(result);
 		var imgsrc=$(this).children("img:first").attr("src");
 		$('.modal-body img').attr("src",imgsrc);
 		$('#popup1').find('#removeFromCartid').attr('data-price', pricetotal).attr('data-prod', heading).attr('data-added', heading.split(' ').join('_'));
 		$(this).attr('data-added', heading.split(' ').join('_'));
		if(!$(this).attr('data-cart')){
			$('.right-header span').text(++carttno);
	 		$(this).attr('data-cart', "true");
	 		pricecal(pricetotal);
	 		cart.product.push(heading);
	 		Tracker.pushTracking("Add Cart", 'click', {
	 			productName: [heading],
	 			productPrice: pricetotal
	 		});
	 	}
 });
 $('#removeFromCartid').click(function(){
	$('.js-open-modal[data-added="'+$(this).attr('data-added')+'"]').find('.added').hide();
	var price  = $('#removeFromCartid').attr('data-price');
	var prod = $('#removeFromCartid').attr('data-prod');
	reducecart(price);
	$(".modal-box, .modal-overlay").fadeOut(500, function() {
		$(".modal-overlay").remove();
	});
	$('.js-open-modal[data-added="'+$(this).attr('data-added')+'"]').attr('data-cart', "");
	cart.product.pop(cart.product.indexOf(prod));
	Tracker.pushTracking("Remove Cart", 'click', {
		productName: [prod],
		productPrice: price
	});
});
$("#proceedToPay").on('click', function(){
	$("#formprod").val(cart.product.join(";"));
	pricecal(0);
	$("#formprice").val(cart.price);
	Tracker.pushTracking("Proceed To Pay", 'click', {
		productName: cart.product,
		productPrice: cart.price
	});
	$("#postForm").submit();
});

$(window).resize();
 	
});
</script>
{{/contentFor}}